{% extends 'base.html' %}
{% load static %}

{% block content %}

  {% if profile %}
  {# profile info #}
  <div class="media">
    <div class="col-1">
      {% if profile.profile_pic %}
      <img  class="img-fluid"  src="{{ profile.profile_pic.url }}" width=150 height=150 class="rounded-circle" alt="{{ profile.user.username }}">
      {% else %}
      <img src="{% static 'images/default_profile_pic.png' %}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">	
      {% endif %}
    </div>
    <div class="media-body">
      <h5 class="mt-0">{{profile.user.username}}</h5>
      <h5 class="mt-0">Bio :{{profile.bio}}</h5>
      <h5 class="mt-0">Links :{{profile.link}}</h5>
      <h5 class="mt-0">Joined :{{profile.joined}}</h5>
      <h5 class="mt-0">Followed by:{{profile.followed_by.count}} people</h5>
      <!--if the request user is not the owner of the profile ,show follow bottom-->
      <a href="#">Edit Profile info</a>
      </br>
      <a href="#">Make a post</a>
    </div>
  </div>
  {% endif %}

  </br>
  </br>
  {# posts of the user #}
  {% for post in posts %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">

              <h5 class="card-title">{{post.owner}}</h5>
              <h5 class="card-title">Created at : {{post.created}}</h5>
              <p class="card-text">{{post.story}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  
{% endblock %}
